<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>Teacher_management_system</display-name>
<welcome-file-list>
<welcome-file>login_inter.jsp</welcome-file>
</welcome-file-list>

<!-- 配置核心拦截器 -->
<filter>
    <!-- Filter的名字 -->
    <filter-name>struts2</filter-name>
    <!-- Filter的实现类 struts2.5以前可能有所不同 -->
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
 <init-param>
  <param-name>encoding</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
</filter>
<filter-mapping>
    <filter-name>struts2</filter-name>
    <!-- 拦截所有的url -->
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>